@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 100vh;
}

#left {
    width: 35vw;
    background-size: cover;
    position: relative;
}

#right {
    display: flex;
    flex-direction: column;
    width: 65vw;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
}

#odin {
    width: 15%;
    height: auto;
}

.logoName {
    margin: 0;
    font-family: norse-bold, 'Times New Roman';
    color: white;
    font-size: 6.5rem;
}

.reference {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

.reference a {
    color: white;
}

.description,
.submit,
.form {
    width: 100%;
    position: relative;
}

.description,
.submit {
    background-color: rgb(239, 240, 243);
    height: 35vh;
}

.form {
    height: 30vh;
}

.description p {
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    left: 5%;
    bottom: 10%;
}
